
header{
  background-color: gray;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* Devyn Blackstone to left of header */
.header{
  background: linear-gradient(to right, gray, rgb(45, 115, 148));
  padding: 10px;
}

/* this adjust how the list is displayed */
nav li{
  display: inline;
}

/* this adjusts the words in the navbar*/
nav a{
  font-size: 20px;
  color: black;
  padding: 10px;
}

/* Full stack web developer and background picture */
.subtitle{
  text-align:right;
  background: url("https://wallpapercave.com/wp/wp8046576.jpg");
  margin:0;
  padding:20px;
}

/* need to add photo here*/
/* this is the entire section about me */
.aboutMeContainer{
  margin:10px;
  display: flex;
  align-items: flex-start;
}

/*figure out how to get these h3 titles to all align*/
.aboutMeTitle{
  /* width:20%;
  border-right: 3px solid black; */
  flex: 0 0 10%;
}

/* this is the paragraph about me */
.aboutMeInfo{
  /* border-left: 3px solid black; */
  padding-left: 10px;
}

.workContainer{
  margin: 10px;
  display: flex;
  align-items: flex-start;
}

/*figure out how to get these h3 titles to all align*/
/* .workTitle{
  flex: 0 0 10%;
} */

.beerBuddy img{
  width:50%;
    /* flex-wrap: wrap; */
}

/* .workLinks img {
  width:50%;
  flex-wrap: wrap;
  display: inline;
}

.workLinks{  
  flex-wrap: wrap;
}  

.workBoxes div{
  display: flex;
  justify-content: right;
  padding-left: 10px;
} */
/*these need to flex-wrap and get bigger*/


.contactContainer{
  margin: 10px;
  display:flex;
}

/*figure out how to get these h3 titles to all align*/
.contact{
  flex: 0 0 10%; 
} 

.projectCards{
  padding-left: 10px;
  padding: 10px;
  margin:10px;
}

.navbarContact{
  padding:10px;
  margin:10px;
  /* border-left: 3px solid black; */
  padding-left: 10px;
}

.navbarContact a {
  font-size: 14px;
}  

.navbarContact a:hover{
  color:blueviolet;
}

footer{
  text-align: center;
}